body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background:linear-gradient(to bottom, red, orange, yellow, green, #42aaff, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background:linear-gradient(to bottom, red, orange, yellow, green, #42aaff, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right
}
a{

}

a:visited{
    color: purple;
    background-color: black;
}

a:hover{
    color: red;
    text-decoration: underline;
    background-color: white;
}

a:active{
    color:pink;
    background-color: green;
}

